@import url("https://fonts.googleapis.com/css2?family=Pompiere&display=swap");

@import url("http://fonts.googleapis.com/css2?family=Gentium+Book+Basic&display=swap");

#fonteGentium {
  font-family: "Gentium Book Basic", serif;
  font-size: 24px;
  letter-spacing: 4px;
}

#fontePompiere {
  font-family: "Pompiere", cursive;
}

#cookie {
  visibility: hidden;
}

#menuOptions ul {
  list-style-type: none;
  font-size: 20%;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

#menuOptions ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

#menuOptions ul a {
  vertical-align: middle;
  padding: 0%;
  width: 80%;
  height: auto;
}

#menuOptions ul ion-icon {
  width: 40%;
  height: 80%;
}

#spanMenu {
  color: aliceblue;
  font-size: 20px;
  font-weight: 600;
}

#offcanvasScrolling {
  width: 25%;
}

#minhaConta {
  font-size: 30px;
  padding-right: 0.5%;
}

#offcanvasScrolling {
  width: 25%;
}

#FundoEscuro {
  background-color: rgba(0, 0, 0, 0.4);
  height: 120.5%;
  width: 100%;
}

#Desenvolvedores {
  text-decoration: none;
}

#conteudoLogin{

  height: 100%;
  padding-top: 10%;

}

@media screen and (max-width: 789px) {
  #offcanvas-header {
    padding: 15%;
  }
  #faixaSidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #logoSidebar {
    width: 80%;
    height: auto;
  }
  #spanMenu {
    font-size: 18px;
  }
  #closeSidebar {
    display: none;
  }
  #offcanvasScrolling {
    width: 25%;
  }
  #menuOptions ul {
    align-items: flex-start;
    justify-content: flex-start;
  }
  #menuOptions ul a {
    padding: 0%;
    margin-bottom: 30%;
    width: 80%;
    height: auto;
  }
  #menuOptions ul span {
    display: none;
  }
  #menuOptions ul ion-icon {
    width: 100%;
    height: 100%;
  }
  #conteudoLogin{
    height: 95%;
    padding-top: 30%;
  }
}
